<html>
    <head>
        <title>Home Sensors</title>
        <meta content="">
        
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css" />
        <!--<![endif]-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        
        <script src="static/script.js"></script>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <h1>Home Sensors</h1>
        
        {% include 'network.html' %}
        
        {% include 'log.html' %}

    </body>
</html>
