<h2><i class="fa fa-globe"></i> Network</h2>
<div class="pure-g" id="network">
    {% for node in nodes %}
        <div class="pure-u-1-5">
            <div class="node node-content">
                <button class="trash" data-node="{{ node.node }}" data-cmd="remove"><i class="fa fa-trash-alt"></i></button>
                <h2><i class="fa fa-wifi"></i> Node: {{ node.node }}</h2>
                <table class="node-content">
                    <tr>
                        <td><i class="fa fa-signal"></i></td>
                        <td><b>RSSI</b></td>
                        <td>{{ node.rssi }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-thermometer-half"></i></td>
                        <td><b>Radio temp</b></td>
                        <td>{{ node.radiotemp }} &deg;C</td>
                    </tr>
                    <tr><td colspan="3"><br /></td></tr>
                    <tr>
                        <td><i class="fa fa-thermometer-half"></i></td>
                        <td><b>Temp</b></td>
                        <td>{{ node.temp }} &deg;C</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-tint"></i></td>
                        <td><b>Humidity</b></td>
                        <td>{{ node.humidity }} %</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-lightbulb"></i></td>
                        <td><b>Light</b></td>
                        <td>{{ node.light }} lux</td>
                    </tr>
                    <tr><td colspan="3"><br /></td></tr>
                    <tr>
                        <td><i class="fa fa-clock"></i></td>
                        <td><b>Datetime</b></td>
                        <td>{{ node.datetime }}</td>
                    </tr>
                </table>
                <br />
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <button class="pure-button pure-button-primary" data-node="{{ node.node }}" data-cmd="ping">Ping</button>
                    </div>
                    <div class="pure-u-1-3">
                        <button class="pure-button pure-button-primary" data-node="{{ node.node }}" data-cmd="restart">Restart</button>
                    </div>
                    <div class="pure-u-1-3">
                        <button class="pure-button pure-button-primary" data-node="{{ node.node }}" data-cmd="fire">Fire</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
