<h2><i class="fa fa-globe"></i> Network</h2>
<div class="pure-g">
    <div *ngFor="let node of nodes" class="pure-u-1-5">
        <div class="node">
            <button class="trash" (click)="trash(node)"><i class="fa fa-trash-alt"></i></button>
            <h2><i class="fa fa-wifi"></i> Node: {{ node.node }}</h2>
            <table>
                <tr>
                    <td><i class="fa fa-signal"></i></td>
                    <td><b>RSSI</b></td>
                    <td class="node-rssi">{{ node.rssi }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="fa fa-thermometer-half"></i></td>
                    <td><b>Radio temp</b></td>
                    <td class="node-radiotemp">{{ node.radiotemp }}</td>
                    <td>&deg;C</td>
                </tr>
                <tr><td colspan="4"><br /></td></tr>
                <tr>
                    <td><i class="fa fa-thermometer-half"></i></td>
                    <td><b>Temp</b></td>
                    <td class="node-temp">{{ node.temp }}</td>
                    <td>&deg;C</td>
                </tr>
                <tr>
                    <td><i class="fa fa-tint"></i></td>
                    <td><b>Humidity</b></td>
                    <td class="node-humidity">{{ node.humidity }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td><i class="fa fa-lightbulb"></i></td>
                    <td><b>Light</b></td>
                    <td class="node-light">{{ node.light }}</td>
                    <td>lux</td>
                </tr>
                <tr><td colspan="4"><br /></td></tr>
                <tr>
                    <td><i class="fa fa-clock"></i></td>
                    <td><b>Datetime</b></td>
                    <td class="node-datetime" colspan="2">{{ node.datetime }}</td>
                </tr>
            </table>
            <br />
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <button class="pure-button pure-button-primary action" (click)="ping(node)">Ping</button>
                </div>
                <div class="pure-u-1-3">
                    <button class="pure-button pure-button-primary action" (click)="restart(node)">Restart</button>
                </div>
                <div class="pure-u-1-3">
                    <button class="pure-button pure-button-primary action" (click)="fire(node)">Fire</button>
                </div>
            </div>
        </div>
    </div>
</div>
